.grid-container{
    display: grid;
    gap: 10px;
    padding: 10px;


}
.grid-container > div{
    background-color:#46b2fd;
    font-size: 30px;
    text-align: center;
    color: white;
    border-radius: 4px;
    display: block;

}
.grid-item{
    grid-column-end: span 60;
}
.grid-item1{
    grid-column-end: span 30;
}
.grid-item2{
    grid-column-end: span 20;
}
.grid-item3{
    grid-column-end: span 15;
}
.grid-item4{
    grid-column-end: span 12;
}
.grid-item5{
    grid-column-end: span 10;
}
